@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="/submitform">
      <label for="Email">E-mail</label>
      <input id="Email" name="Email" type = "text" required><br><br>
      <input type="file" name="fileToUpload" id="fileToUpload" required>
      <input type = "submit" value = "Submit" name = "submit">
    </form>
</div>
